.TeamPage {
    background-color: #f2eff7;
    min-height: 87.59vh;
    padding: 1rem;
}

input {
    padding: 0.7rem 1rem;
    margin: 0.5rem;
    border: none;
    outline: none;
    border-radius: 25px;
    font-size: 1rem;
}

.teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.team {
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    margin: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    font-size: 1.1rem;
    border-spacing: 0.3rem;
}

@media only screen and (max-width: 500px) {
    .TeamPage {
        padding: 0.5rem;
    }
    .team {
        font-size: 1rem;
        margin: 1rem 0;
        padding: 1rem 2rem;
    }
    .team > tr {
        display: flex;
        flex-direction: column;
    }
}

.team > tr > td:first-child {
    font-weight: bold;
}

.team > tr > td {
    padding: 0.5rem;
}

.team > tr > td:last-child {
    border-radius: 20px;
    padding: 0.7rem;
    border: 1px solid gray;
    background-color: whitesmoke;
}

.team .member {
    margin: 0.3rem 0;
}

.team .member > td {
    padding: 0.1rem;
}

.team .member > td:last-child {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 1px 1px gray;
}