.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 2rem;
    padding-bottom: 0.5rem;
    background-color: white;
    box-shadow: 3px 0 5px gray;
    color: #9c85d2;
    z-index: 999;
}

.left {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.Header img {
    width: 70px;
    margin: 0 1rem;
}

.Header .item {
    font-size: 1.3rem;
    text-decoration: none;
    color: inherit;
    margin-left: 1.5rem;
    white-space: nowrap;
}

@media only screen and (max-width: 450px) {
    .Header {
        flex-direction: column;
        padding: 0.5rem;
    }

    .Header .title {
        font-size: 1.3rem;
    }

    .Header .item {
        font-size: 1rem;
    }
}

@media only screen and (max-width: 370px) {
    .Header .right {
        display: flex;
        flex-direction: column;
    }

    .Header img {
        width: 50px;
    }

    .Header .item {
        margin-left: 0;
    }
}