.SoftskillLeaderboard {
    background-color: #f2eff7;
    min-height: 70vh;
    padding: 1rem;
    padding-top: 2rem;
}

.title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.data {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
    width: fit-content;
}

.main {
    display: flex;
}

.user:hover {
    transform: scale(1.01);
}

.user table {
    border-collapse: separate;
    border-spacing: 0.3rem;
}

.user_name {
    font-weight: bold;
    width: 200px;
}

.user_data {
    margin: 11px;
}

.user_data td {
    border: 1px solid gray;
    padding: 0.3rem 0.5rem;
    background-color: whitesmoke;
    border-radius: 5px;
}

.user table tbody tr td:last-child {
    background-color: rgba(128, 0, 128, 0.7);
    color: white;
    font-weight: bold;
}

.short_table table{
    margin: 1rem auto;
    width: 80%;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%);
}

.short_table th {
    background-color: #bbaad6;
    color: white;
    padding: 0.5rem;
}

.short_table thead tr th:first-child {
    border-radius: 25px 0 0 0;
}

.short_table thead tr th:last-child {
    border-radius: 0 25px 0 0;
}

.short_table tr:hover {
    background-color: #d6c5ee !important;
}

.short_table tr td{
    padding: 0.5rem;
}

.short_table tr:nth-child(even) {
    background-color: #dcd3ec;
}

.short_table button {
    padding: 0.3rem 0.5rem;
    margin: 0.5rem 0.3rem;
}

@media only screen and (max-width: 1000px) {
    .SoftskillLeaderboard {
        font-size: 0.9rem;
    }

    .main {
        flex-direction: column;
    }

    .user {
        flex-direction: column;
    }
}

@media only screen and (max-width: 375px) {
    .user {
        font-size: 0.7rem;
        padding: 0.5rem;
    }

    .SoftskillLeaderboard {
        padding: 1rem 0.5rem;
    }

    .short_table table{
        width: 100%;
        font-size: 0.85rem;
    }
}